<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox column layout</title>
    <style>
        .columns {
            border: 1px solid black;
            display: flex;
        }

        .columns > div {
            border: solid red 1px;
            flex: 1;
        }

        .columns > div:nth-of-type(2) {
            flex: 2;
        }
    </style>
</head>
<body>
    <h1>25/50/25 split</h1>
    <div class="columns">
        <div>Col 1</div>
        <div>Col 2</div>
        <div>Col 3</div>
    </div>
</body>
</html>