<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic column layout</title>
    <style>
        .columns {
            width: 100%;
            border: 1px solid black;
        }
        .columns > div {
            width: 40%;
            border: 1px solid red;
            float: left;
        }
    </style>
</head>
<body>
    <h1>annoying space on right corner</h1>
    <div class="columns">
        <div>Col 1</div>
        <div>Col 2</div>
    </div>
</body>
</html>